#basicMap {
          width: 100%;
          height: 100%;
          margin: 0;
          }

.features {
   padding-top: 15px;
   }

section {
        display: flex;
        padding-top: 15px;
        }
.back { background: url(static/img/back.jpg);}

h5 {
   font-size: 16px;
   padding-top: 0px;
   }

img {
	width: 60px;
	height: 60px;
	margin-right: 5px;
}



