@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@1,600&display=swap');


body{
  background:#f3fbff;
}

.header {
    margin-left: auto;
    margin-right: auto;

    height: 700px; /* Высота блока */
    width: 1300px; /* Ширина блока */
    display: block;
    background: url(static/header.png); 
 }

 .menu{
   padding-top: 20px;
   margin-left: 150px;
   display: inline-block;

 }
 
 
.link {
  font-family: 'Open Sans', sans-serif;
  font-size: 30px;
  text-decoration: none;
  color:#2d403c;
 }
 
 .link-tools{
  font-family: 'Open Sans', sans-serif;
  font-size: 30px;
  text-decoration: none;
  color:#2d403c;
  margin-left: 220px;
 }

 .link-log{
  font-family: 'Open Sans', sans-serif;
  font-size: 30px;
  text-decoration: none;
  color:#2d403c;
  margin-left: 340px;
 }
 .link-sig{
  font-family: 'Open Sans', sans-serif;
  font-size: 30px;
  text-decoration: none;
  color:#2d403c;
  margin-left: 29px;

 }
 .link:hover,
 .link-log:hover,
 .link-tools:hover,
 .link-sig:hover{
  width:  auto;	height: auto; /* Размеры */
  background:#2d403c; /* Цвет фона */
  color: white;
  outline: 2px solid #000; /* Чёрная рамка */
  transition:all 0.5s;
  cursor:pointer;
}
 .text-top{
  font-family: 'Open Sans', sans-serif;
  font-size: 25px;
  padding-left: 270px;
  padding-top: 110px;
 }
 .p {
  margin-top: -20px;
 }

 .text-bottom{
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
  padding-left: 300px;
  padding-top: 10px;
 }

 .features{
  font-family: 'Open Sans', sans-serif;
  font-size: 30px;
  padding-left: 777px;  
  margin-top: -40px;

 }
 .scroll{
  padding-left: 560px; 
  display: flex; 
}

.block{
  margin-left: 160px;
}
#line {
  border-bottom:solid transparent 5px;
  transition:all 0.5s;
  
}
#line:hover{
  cursor:pointer;
  border-bottom:solid #227969 5px;
 
  
}

.scroll_text{
  font-family: 'Open Sans', sans-serif;
  padding-left: 30px;
  margin-top: -3px;
}

hr{
  margin-top: 0px;
  width: 1200px;
}

.text{
  position: absolute;
  font-family: 'Open Sans', sans-serif;
  width: 500px;
  height: 130px;
  font-size: 18px;
  padding-left: 10px;
  
 }
 .text1{
  position: absolute;
  font-family: 'Open Sans', sans-serif;
  width: 500px;
  height: 230px;
  font-size: 18px;
  margin-left: -250px;
  
 }
 .text2{
  position: absolute;
  font-family: 'Open Sans', sans-serif;
  width: 500px;
  height: 230px;
  font-size: 18px;
  margin-left: -500px;
  
 }