@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@1,600&display=swap');


body{
  background:#f3fbff;
}

.header {
    margin-left: auto;
    margin-right: auto;
    height: 580px; /* Высота блока */
    width: 100vw; /* Ширина блока */
    clip-path: polygon(0 0, 100% 0, 100% 70%, 0 100%,0 calc(100% - 5vw));
    position: relative;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
    background-image:  linear-gradient(to top, rgba(161, 184, 157, 0.6), rgba(11, 226, 83, 0.918));

 }
 .menu{
   padding-top: 20px;
   margin-left: 850px;
   display: inline-block;

 }
 
 
.link {
  font-family: 'Open Sans', sans-serif;
  font-size: 30px;
  text-decoration: none;
  color:#2d403c;
 }
 
 .link-tools{
  font-family: 'Open Sans', sans-serif;
  font-size: 30px;
  text-decoration: none;
  color:#2d403c;
  margin-left: 20px;
 }

 .link-log{
  font-family: 'Open Sans', sans-serif;
  font-size: 30px;
  text-decoration: none;
  color:#2d403c;
  margin-left: 600px;
 }
 .link-sig{
  font-family: 'Open Sans', sans-serif;
  font-size: 30px;
  text-decoration: none;
  color:#2d403c;
  margin-left: 29px;

 }
 .link:hover,
 .link-log:hover,
 .link-tools:hover,
 .link-sig:hover{
  width:  auto;	height: auto; /* Размеры */
  background:#2d403c; /* Цвет фона */
  color: white;
  outline: 2px solid #000; /* Чёрная рамка */
  transition:all 0.5s;
  cursor:pointer;
}
 .text-top{
  font-family: 'Open Sans', sans-serif;
  font-size: 25px;
  padding-left: 620px;
  padding-top: 110px;
 }
 .p {
  margin-top: -20px;
 }

 .text-bottom{
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
  padding-left: 650px;
  padding-top: 10px;
 }

 .features{
  font-family: 'Open Sans', sans-serif;
  font-size: 30px;
  padding-left: 777px;  
  margin-top: -40px;

 }
 .scroll{
  padding-left: 560px; 
  display: flex; 
}

.block{
  margin-left: 160px;
}
#line {
  border-bottom:solid transparent 5px;
  transition:all 0.5s;
  
}
#line:hover{
  cursor:pointer;
  border-bottom:solid #227969 5px;
 
  
}

.scroll_text{
  font-family: 'Open Sans', sans-serif;
  padding-left: 30px;
  margin-top: -3px;
  display: block;
}

hr{
  margin-top: 0px;
  width: 1200px;
}

.text{
  position: absolute;
  font-family: 'Open Sans', sans-serif;
  width: 500px;
  height: 130px;
  font-size: 18px;
  padding-left: 10px;
  
 }
 .text1{
  position: absolute;
  font-family: 'Open Sans', sans-serif;
  width: 500px;
  height: 230px;
  font-size: 18px;
  margin-left: -250px;
  
 }
 .text2{
  position: absolute;
  font-family: 'Open Sans', sans-serif;
  width: 500px;
  height: 230px;
  font-size: 18px;
  margin-left: -500px;
  
 }
 
 .tools_header {
  margin-left: auto;
  margin-right: auto;
  height: 80px; /* Высота блока */
  width: 100vw; /* Ширина блока */
  background-size: cover;
  background-attachment: fixed;
  background-image:  linear-gradient(to top, rgba(161, 184, 157, 0.6), rgba(11, 226, 83, 0.918));

}

.input{
  margin-top: 150px;
  margin-left: 700px;
  width: 500px;
  height: 35px;
  border-radius:10px;
  font-family:inherit;
  font-size: 20px;
}
button{
  box-sizing: border-box;
  border-radius:5px;
  font-size: 15px;
  font-family:inherit;
  margin-top: 10px;
  margin-left: 700px;
  width: 65px;
  height: 30px;
  text-decoration: none;
  display: inline-block;
  color:#2d403c;
  letter-spacing: 2px;
  background-image:  linear-gradient(to right, rgba(98, 207, 78, 0.6), rgba(12, 116, 47, 0.918));
  background-size: 200% auto;
  box-shadow: 0 0 20px rgba(0, 0, 0, .1);
  transition: .5s;
}

.button_whois,
.button_ping{
  margin-left: 10px;
  text-decoration: none;
  display: inline-block;
  color:#2d403c;
  letter-spacing: 2px;
  background-image:  linear-gradient(to right, rgba(98, 207, 78, 0.6), rgba(12, 116, 47, 0.918));
  background-size: 200% auto;
  box-shadow: 0 0 20px rgba(0, 0, 0, .1);
  transition: .5s;
}
button:hover,
.button_whois:hover,
.button_ping:hover{
  background-position: right center;
}

.tools_block{
  margin-top: 100px;
  margin-left: 700px;
  display: flex;
}

.tools_load{
  margin-top: 140px;
  margin-left: 850px;
  }
.map{
  margin-top: -65px;
  margin-left: 140px;
  border-radius: 8px;
}

.table {
	width: 450px;
	border: 1px solid;
	margin-bottom: 20px;
  border-radius: 8px;
  box-shadow: 0 0 5px rgba(0,0,0,0.5);
}

.table thead th {
	font-weight: bold;
	text-align: center;
	border: none;
	padding: 10px 15px;
	background: #d8d8d8;
	font-size: 14px;
	border-left: 1px solid #ddd;
	border-right: 1px solid #ddd;
}

.table tbody td {
	text-align: left;
	border: none;
	padding: 15px 20px;
	font-size: 14px;
	vertical-align: top;
}
.table tbody tr:nth-child(even){
	background: #f3f3f3;
}
.table tbody tr td:first-child {
	border-radius: 8px 0 0 8px;
}
.table tbody tr td:last-child {
	border-radius: 0 8px 8px 0;
}
.error_msg {
  text-align: center;
  position: relative;
  padding-top: 120px;
  margin-bottom: -120px;
  font-family: 'Robbot';
  font-size: 25px;
  color: red;

}