{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block title %}Ping-Checker{% endblock %}
{% block head %}
{% block styles %}
{{ super() }}
<link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet">


{% endblock styles %}

<div class="semiopacity">
{% endblock %}
{% block page_content  %}
<div class="page-header">
    <h1>Hello</h1>
    <p>The local date and time is {{ moment(current_time).format('LLL') }}.</p>
    <p>Your IP is {{ real_ip }} </p>
</div>
{{ wtf.quick_form(form) }}
{% endblock %}

{% block geo %}

<div class="page-header">
 <h3><img src="static/img/about1.png">About</h3>
 <h5>Ping-Checker is a modern online tool for website monitoring and checking availability of hosts, IP addresses.
 It supports the latest technologies such as localized domain names (both punycode and original formats), hostname IPv6 records (also known as AAAA record).
</h5>

<h3 align="center" class="features"><img src="static/img/features1.png">Features Overview</h3>
 <section>

   <article>
     <h3><img src="static/img/info1.png">Info</h3>

     <p>Info is useful to check IP and hostname location: IP range, ISP, organization, country, region, city, ZIP/postal code, time zone and local time. Find out what is known about your host.</p>
   </article>

   <article>
     <h3> <img src="static/img/ping1.png">Ping</h3>

     <p>Ping allows you to test the reachability of a host and to measure the round-trip time for messages sent from the originating host to a destination computer.</p>
   </article>
   <article>
     <h3> <img src="static/img/whois1.png">Whois</h3>

     <p>Whois service allows you to quickly get all the information about domain registration, for example, the registration date and age of the domain, or find out the contacts by which you can contact the organization or person whose domain you are interested in.</p>
   </article>

 </section>
</div>

{% endblock %}
</div>