{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block title %}Ping-Checker{% endblock %}
{% block head %}
{% block styles %}
{{ super() }}
<link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet">
{% endblock styles %}
{% endblock %}
{% block page_content  %}
<div class="page-header">
    <h1>Hello</h1>
    <p>The local date and time is {{ moment(current_time).format('LLL') }}.</p>
    <p>Your IP is {{ real_ip }} </p>
</div>

{{ wtf.quick_form(form) }}
{% endblock %}

{% block geo %}
<div class="page-header">
<table class="table table-borderless">
  <tbody>
    <tr>
      <th scope="row" style="border-top: 0">Address</th>
      <td style="border-top: 0">{{ address }}</td>
    </tr>
    <tr>
      <th scope="row" style="border-top: 0">CIDR</th>
      <td style="border-top: 0">{{ cidr }}</td>
    </tr>
    <tr>
      <th scope="row" style="border-top: 0">City</th>
      <td style="border-top: 0">{{ city }}</td>
    </tr>
       <tr>
      <th scope="row" style="border-top: 0">Country</th>
      <td style="border-top: 0">{{ country }}</td>
    </tr>
    <tr>
      <th scope="row" style="border-top: 0">Created</th>
      <td style="border-top: 0">{{ created }}</td>
    </tr>
    <tr>
      <th scope="row" style="border-top: 0">Description</th>
      <td style="border-top: 0">{{ description }}</td>
    </tr>
      <tr>
      <th scope="row" style="border-top: 0">E-mail</th>
      <td style="border-top: 0">{{ emails }}</td>
    </tr>
       <tr>
      <th scope="row" style="border-top: 0">Handle</th>
      <td style="border-top: 0">{{ handle }}</td>
    </tr>
    <tr>
      <th scope="row" style="border-top: 0">Name</th>
      <td style="border-top: 0">{{ name }}</td>
    </tr>
    <tr>
      <th scope="row" style="border-top: 0">Postal code</th>
      <td style="border-top: 0">{{ postal_code }}</td>
    </tr>
       <tr>
      <th scope="row" style="border-top: 0">Range</th>
      <td style="border-top: 0">{{ range }}</td>
    </tr>
    <tr>
      <th scope="row" style="border-top: 0">State</th>
      <td style="border-top: 0">{{ state }}</td>
    </tr>
    <tr>
      <th scope="row" style="border-top: 0">Updated</th>
      <td style="border-top: 0">{{ updated }}</td>
    </tr>

  </tbody>
</table>
</div>
{% endblock %}