{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block title %}Ping-Checker{% endblock %}
{% block head %}
{% block styles %}
{{ super() }}
<link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet">
{% endblock styles %}
{% endblock %}
{% block page_content  %}
<div class="page-header">
    <h1>Hello</h1>
    <p>The local date and time is {{ moment(current_time).format('LLL') }}.</p>
    <p>Your IP is {{ real_ip }} </p>
</div>

{{ wtf.quick_form(form) }}
{% endblock %}

{% block geo %}
{% if data == None %}
<div class="page-header">
    <table class="table">
                  <tbody>
                    <tr >
                      <th scope="col" style="border-top: 0" >91.201.25.57</th>
                       <td style="border-top: 0">
                           {% if  local  < 4 %}
                               <div style="color:red;"> {{ local }}/4 Packet loss</div>
                           {% else %}
                               <div style="color:green;">{{ local }}/4 ОК</div>
                           {% endif %}
                       </td>
                    </tr>
                    <tr>
                      <th scope="col" style="border-top: 0" >185.250.206.220</th>
                      <td style="border-top: 0">
                          {% if  virt  < 4 %}
                               <div style="color:red;"> {{ virt }} /4 Packet loss</div>
                           {% else %}
                               <div style="color:green;">{{ virt }}/4 ОК</div>
                           {% endif %}
                      </td>
                    </tr>
                    <tr>
                      <th style="border-top: 0" scope="col">35.178.203.123</th>
                      <td style="border-top: 0">{% if  aws  < 4 %}
                               <div style="color:red;"> {{ aws }} /4 Packet loss</div>
                           {% else %}
                               <div style="color:green;">{{ aws }}/4 ОК</div>
                           {% endif %}</td>
                    </tr>

                  </tbody>
                </table>
                </div>
</div>
{% else %}
   {{ wtf.quick_form(data) }}
{% endif %}
{% endblock %}
