{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block title %}Ping-Checker{% endblock %}
{% block head %}
{% block styles %}
{{ super() }}
<link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet">
{% endblock styles %}
{% block scripts %}
<script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
<script src='https://www.google.com/recaptcha/api.js' async defer></script>

{%- endblock scripts %}
{% endblock %}
{% block page_content  %}
<div class="page-header">
    <h1>Hello</h1>
    <p>The local date and time is {{ moment(current_time).format('LLL') }}.</p>
    <p>Your IP is {{ real_ip }} </p>
</div>

{{ wtf.quick_form(form) }}
{% endblock %}

{% block geo %}
{% if data == None %}
<div class="page-header">
    <table class="table">
                  <tbody>
                    <tr >
                      <th scope="col" style="border-top: 0"><img style="height: 30px; width: 30px;" src="static/img/netherlands.png">Netherlands</th>
                       <td style="border-top: 0">
                           {% if  local  < 4 %}
                               <div style="color:red;"> {{ local }}/4 Packet loss</div>
                           {% else %}
                               <div style="color:green;">{{ local }}/4 ОК</div>
                           {% endif %}
                       </td>
                    </tr>
                  </tbody>
                </table>
                </div>
</div>
{% else %}
<div class="page-header">
  {{ wtf.quick_form(data) }}
  <script src="{{url_for('static', filename='scripts.js')}}"></script>
</div>
{% endif %}
{% endblock %}
